/* !important это плохая практика, но я поленился разбираться в стилях
semantic-ui, и css-in-js использовать не хочется, поэтому выбрал быстрое решение */
.user-item {
  display: flex !important;
}

.user-data {
  flex-grow: 1;
}

.user-item .icon {
  cursor: pointer;
}
