.userslist {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  padding-top: 50px;
}

.userslist .item > i.icon {
  vertical-align: middle !important;
}

.userslist .userslist-header {
  margin-bottom: 20px !important;
}

.lists-panel {
  display: flex;
}

.all-users,
.rated-users {
  width: 50%
}

.all-users {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid gray;
}
