.userslist {
  display: flex;
  flex-direction: column;
  min-width: 310px;
}

/* !important это плохая практика, но я поленился разбираться в стилях
semantic-ui, и css-in-js использовать не хочется, поэтому выбрал быстрое решение */
.userslist .item > i.icon {
  vertical-align: middle !important;
}

.userslist .userslist-header {
  margin-bottom: 20px !important;
}

.lists-panel {
  display: flex;
}

/* Only for big screens */
@media (min-width: 721px) {
  .userslist {
    margin: 0 50px;
    padding-top: 50px;
  }

  .all-users,
  .rated-users {
    width: 50%
  }

  .all-users {
    margin-right: 40px;
    padding-right: 40px;
    border-right: 1px solid gray;
  }
}

/* Mobile adaptation */
@media (max-width: 720px) {
  .userslist {
    margin: 0 20px;
    padding-top: 20px;
  }

  .lists-panel {
    flex-direction: column;
  }

  .all-users,
  .rated-users {
    width: 100%
  }

  .all-users {
    margin-bottom: 40px;
  }
}
