.rating-modal {
  max-width: 50%;
}

/* !important это плохая практика, но я поленился разбираться в стилях
semantic-ui, и css-in-js использовать не хочется, поэтому выбрал быстрое решение */
.user-item {
  display: flex !important;
}

.user-item .icon {
  cursor: pointer;
}

.user-data {
  flex-grow: 1;
}

.rating-block {
  white-space: nowrap;
}

.rating-block button {
  font-weight: bold !important;
}
